<div id="close-dash" class="text-center glyphicon glyphicon-chevron-down"></div>
<h1 class="text-center">Missions</h1>
<div layout="row" layout-align="space-around center">

	<div ng-repeat="drone in drones">
		<h4>{{drone.name}}</h4>
		<p>{{drone.model + " v" + drone.version}}</p>
		<p ng-switch="drone.status">Status:
			<span class="text-danger" ng-switch-when="armed">Armed</span>
			<span class="text-warning" ng-switch-when="disarmed">Standby</span>
			<span class="text-info" ng-switch-when="off">Powered Down</span>
		</p>
		<md-button class="btn btn-default" value="Make Primary"
			ng-click="makePrimary(drones.indexOf(drone))">Make Primary</md-button>
	</div>

	<!-- <md-button class="md-fab md-primary" ng-repeat="drone in drones">
		<img src="img/front2.png">
	</md-button> -->
</div>
