[submodule "node-mavlink"]
	path = node-mavlink
	url = https://github.com/Dronesmith-tech/node-mavlink
[submodule "dronekit-python"]
	path = dronekit-python
	url = https://github.com/Dronesmith-tech/dronekit-python.git
