[submodule "forge-ux"]
	path = forge-ux
	url = https://bitbucket.org/dronesmithdev/forge-ux.git
[submodule "node-mavlink"]
	path = node-mavlink
	url = https://github.com/Dronesmith-tech/node-mavlink
[submodule "dronekit-python"]
	path = dronekit-python
	url = https://github.com/Dronesmith-tech/dronekit-python.git
