<section id="forgotPasswordPane">

  <div class="mainPannel">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3">
        <div class="forgeIcon">
          <img src="img/forgelogo.png"/>
        </div>
      </div>
      <div class="col-xs-3">
        <h1 class="text-center">Forge</h1>
      </div>
    </div>
    <div>
      <h3 class="forgeTitle"> Forgot your password? <br>Don't worry.</h3>
    </div>
    <form name="forgotForm" novalidate>
    <fieldset class="form-group" ng-class="{'has-error': forgotForm.email.$dirty && forgotForm.email.$invalid}">
      <input
        type="email"
        class="form-control loginUser"
        id="email"
        name="email"
        placeholder="Email"
        ng-model="forgotInfo.email"
        required>
      </fieldset>
    <fieldset class="form-group" ng-class="{'has-error': forgotForm.confirmEmail.$dirty && forgotForm.confirmEmail.$invalid}">
      <input
        type="email"
        class="form-control loginPass"
        id="confirmEmail"
        name="confirmEmail"
        placeholder="Confirm Email"
        ng-model="forgotInfo.confirmEmail"
        ui-validate=" '$value==forgotInfo.email' "
        ui-validate-watch=" ' forgotInfo.email ' "
        required>
      <div class="errorMessage" ng-if="forgotForm.confirmEmail.$invalid && forgotForm.confirmEmail.$dirty"> Emails do not match</div>
    </fieldset>
    <input type="submit" class="btn btn-primary forgotPasswordBtn" ng-click="forgotPassword()" value="Reset password">
  </form>
  </div>
  <div class="secondaryPannel">
    <p class="signup">Drone development. Hardware agnostic.</p>
    <!-- TODO add appropriate text -->
    <div> <a href="" ui-sref="login"> <input type="submit" class="signupBtn" value="Return to Login"> </a> </div>
  </div>
</section>
