<section id="forgotPasswordPane">

  <div class="mainPannel">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3">
        <div class="forgeIcon">
          <img src="img/forgelogo.png"/>
        </div>
      </div>
      <div class="col-xs-3">
        <h1 class="text-center">Forge</h1>
      </div>
    </div>
    <div>
      <h3 class="forgeTitle"> Drone development.<br>Hardware agnostic. </h3>
    </div>
    <form name="forgotForm" novalidate>
    <fieldset class="form-group" ng-class="{'has-error': forgotForm.email.$dirty && forgotForm.email.$invalid}">
      <input
        type="email"
        class="form-control loginUser"
        id="email"
        name="email"
        placeholder="Email"
        ng-model="forgotInfo.email"
        required>
      </fieldset>
    <fieldset class="form-group" ng-class="{'has-error': forgotForm.confirmEmail.$dirty && forgotForm.confirmEmail.$invalid}">
      <input
        type="email"
        class="form-control loginPass"
        id="confirmEmail"
        name="confirmEmail"
        placeholder="Confirm Email"
        ng-model="forgotPasswordInfo.confirmEmail"
        ui-validate=" '$value==forgotInfo.email' "
        ui-validate-watch=" ' forgotInfo.email ' "
        required>
    </fieldset>
    <input type="submit" class="btn btn-primary loginBtn" ng-click="sendPasswordReset()" value="Reset Password">
  </form>
  </div>
  <div class="secondaryPannel">
    <a href="" ui-sref="login"> <input type="submit" class="signupBtn" value="Return to Login"> </a>
  </div>
</section>
