
<section id="forge">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <hgroup class="text-center">
        <h1>Welcome to Forge</h1>
        <h3><em>A Robotics Development Kit for everyone!</em></h3>
      </hgroup>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <ng-form class="panel-body">
          <fieldset class="form-group">
            <label for="email">Username or Email</label>
            <input type="email" class="form-control" id="email" placeholder="luci@sharklasers.net">
          </fieldset>

          <fieldset class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password">
          </fieldset>

          <button type="submit" class="center-block btn btn-primary" ng-click="login()">Login to my Forge</button>

          <p class="text-center"><em><small><a href="" ng-click="showSignUpForm()">Don't have an account?</a></small></em></p>
        </ng-form>
    </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</section>
