<section id="loginPane">

  <div class="mainPannel">
    <div class="forgeIcon">
    <img src="img/forgelogo.png"/>
    </div>
    <div>
    <h3 class="forgeTitle"> Welcome to Forge </h3>
    </div>
    <form name="loginForm" novalidate>
    <fieldset class="form-group">
      <input
        type="text"
        class="loginUser"
        id="email"
        name="email"
        placeholder="Username or Email"
        ng-model="loginInfo.email"
        required>

      <p> <input
        type="password"
        class="loginPass"
        id="password"
        name="password"
        placeholder="Password"
        ng-model="loginInfo.password"
        ng-pattern="/^[A-Za-z0-9!@#$%^&*()_]{6,30}$/"
        required
        > </p>
    </fieldset>
    <input type="submit" class="loginBtn" ng-mouseover="updateVodBlur(true)" ng-mouseleave="updateVodBlur(false)" ng-click="login()" value="Log in">
  </form>
  </div>
  <div class="secondaryPannel">
    <p class="signup"> Don't have an account? </p>
    <a href="" ui-sref="signup"> <input type="submit" class="signupBtn" value="Sign up"> </a>
  </div>
</section>
