<section id="loginPane">

  <div class="mainPannel">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3">
        <div class="forgeIcon">
          <img src="img/forgelogo.png"/>
        </div>
      </div>
      <div class="col-xs-3">
        <h1 class="text-center">Forge</h1>
      </div>
    </div>
    <div>
      <h3 class="forgeTitle"> Drone development.<br>Hardware agnostic. </h3>
    </div>
    <form name="loginForm" novalidate>
    <fieldset class="form-group">
      <fieldset class="validateEntry" ng-class="{'has-error': loginForm.email.$dirty && loginForm.email.$invalid, 'has-success': loginForm.email.$dirty && loginForm.email.$valid}">
      <input
        type="text"
        class="form-control loginUser"
        id="email"
        name="email"
        placeholder="Email"
        ng-model="loginInfo.email"
        required>
      </fieldset>
      <fieldset class=validateEntry ng-class="{'has-error': loginForm.password.$dirty && loginForm.password.$invalid, 'has-success': loginForm.password.$dirty && loginForm.password.$valid}">
      <input
        type="password"
        class="form-control loginPass"
        id="password"
        name="password"
        placeholder="Password"
        ng-model="loginInfo.password"
        ng-pattern="/^[A-Za-z0-9!@#$%^&*()_]{6,30}$/"
        required>
      </fieldset>
    </fieldset>
    <input type="submit" class="btn btn-primary loginBtn" ng-click="login() && loginForm.$valid" value="Log in">
  </form>
  </div>
  <div class="secondaryPannel">
    <p class="signup"> Join the next generation of drone developers. </p>
    <a href="" ui-sref="signup"> <input type="submit" class="signupBtn" value="Signup for Early Access"> </a>
  </div>
</section>
