<section id="singupPane">
  <div class="signupPannel">
    <h3 class="signupTitle"> Become a Dronesmith </h3>
    <form name="signUpForm" novalidate>
    <!-- <fieldset class="validateEntry" ng-class="{'has-error': signUpForm.username.$invalid && signUpForm.username.$dirty}">
      <label class="control-label" for="username"></label>
      <input;
        type="text"
        class="form-control signupEntry"
        id="username"
        name="username"
        ng-model="signUpInfo.username"
        ng-pattern="/^[A-Za-z0-9!@#$%^&*()_]{6,30}$/"
        required
        placeholder="Username"
        >
    </fieldset> -->

    <fieldset class="validateEntry" ng-class="{'has-error': signUpForm.email.$invalid && signUpForm.email.$dirty, 'has-success': signUpForm.email.$dirty && signUpForm.email.$valid}">
      <label class="control-label" for="email"></label>
      <input
        type="email"
        class="form-control signupEntry"
        id="email"
        name="email"
        ng-model="signUpInfo.email"
        ng-pattern="^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,6}$"
        required
        placeholder="Email"
        >
    </fieldset>

    <fieldset class="validateEntry" ng-class="{'has-error': signUpForm.password.$invalid && signUpForm.password.$dirty, 'has-success': signUpForm.password.$valid && signUpForm.password.$dirty}">
      <label class="control-label" for="password"></label>
      <input
        type="password"
        class="form-control signupEntry"
        id="password"
        name="password"
        ng-model="signUpInfo.password"
        ng-pattern="/^[A-Za-z0-9!@#$%^&*()_]{8,20}$/"
        required
        placeholder="Password"
        >
    </fieldset>

    <fieldset class="confirmPassword" ng-class="{'has-error': signUpForm.confirmPassword.$invalid && signUpForm.confirmPassword.$dirty, 'has-success': signUpForm.confirmPassword.$invalid && signUpForm.confirmPassword.$dirty}">
      <label class="control-label" for="confirmPassword"></label>
      <input
        type="password"
        class="form-control signupEntry"
        id="confirmPassword"
        name="confirmPassword"
        ui-validate=" '$value==password' "
        ui-validate-watch=" 'password' "
        ng-model="signUpInfo.confirmPassword"
        ng-pattern="/^[A-Za-z0-9!@#$%^&*()_]{8,20}$/"
        required
        placeholder="Confirm Password"
        >
    </fieldset>

    <fieldset class="radio">
      <p style="font-weight: 300; font-size: 24px;" class="text-center">I am a...</P>
      <label class="control-label signupRadio" for="usage">
        <input type="radio" ng-model="signUpInfo.kind" name="usage" id="optionsRadios1" value="developer" checked>
        Developer
      </label>

      <label class="control-label signupRadio" for="usage">
        <input type="radio" ng-model="signUpInfo.kind" name="usage" id="optionsRadios1" value="enthusiast" checked>
        Enthusiast
      </label><br>

      <label class="control-label signupRadio" for="usage">
        <input type="radio" ng-model="signUpInfo.kind" name="usage" id="optionsRadios1" value="educator" checked>
        Educator
      </label>

      <label class="control-label signupRadio" for="usage">
        <input type="radio" ng-model="signUpInfo.kind" name="usage" id="optionsRadios1" value="hacker" checked>
        Hacker
      </label><br>

      <label class="control-label signupRadioOther" for="usage">
        <input type="radio" ng-model="signUpInfo.kind" name="usage" id="optionsRadios1" value="other" checked>
        Other <input type="text" style="margin-top: 5px;" ng-model="signUpInfo.Otherkind" class="form-control" placeholder="">
      </label>
    </fieldset>

    <button type="submit" class="createAccount" ng-click="signup()"> Create Account </button>
    <button class="cancelBtn" ui-sref="login"> Cancel </button>
  </form>
  </div>
</section>
