/*

  MAIN STYLES

*/

body {
    overflow:hidden;
}

video {
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-filter: contrast(200%);
    /*top: 50%;
    left: 50%;*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    /*transform: translateX(-50%)*/
  }

.bg-mid {
  background-color: #777;
}

.bg-light {
  background-color: #999;
}

.bg-dark {
  background-color: #555;
}

.bg-semidark {
  background-color: #444;
}

.bg-darker {
  background-color: #333;
}

.bg-darkest {
  background-color: #222;
}

.bg-blue {
  background-color: #27A9E1;
}

/*

  COMMUNITY BARSTYLES

*/

#communityBar section {
  height: 7vh;
}

/*

  MOD VIEW STYLES

*/

#modView article {
  height: 100% !important;
}

#modView aside {
  /*min-height: 480px;
  max-height: 1800px;*/
  height: 80vh;
}

/*

  EEDU LINK STYLES

*/

#eeduLink {
  /*height: 2vh;
  width: 100vh;*/
  z-index: 10000;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*

  DEFINE ADDITIONAL PARTIAL/VIEW STYLES HERE

  ALWAYS SEPARATE BY IDS

  MOD STYLES GO IN THEIR RESPECTED MOD

*/

body {
  /*background-image: url("../img/computerChip.png");*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}

.cancelBtn {
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font-family: Lato;
  font-size: 15px;
  margin-left: 30px;
  margin-right: auto;
  margin-top: -40px;
  padding: 9.5px 29.5px 9.5px 29.5px;
}

.confirmPassword signUpForm.confirmPassword.ng-invalid {
  border: 3px solid red;
}

.createAccount {
  background-color: #27A9E1;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font-family: Lato;
  font-size: 15px;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
  width: 165px;
}

.errorMessage {
  margin-left: 30px;
}

.forgeIcon {
  display: block;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}

.forgeIcon img {
  height: 100%;
  width: 100%;
}

.forgeH2 {
  font-family: Lato;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
}

.forgeTitle {
  font-family: Lato;
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
}

.forgotPassword {
  padding: 10px 145px 10px 145px;
  text-align: center;
}

.forgotPassword2 {
  padding: 10px 100px 10px 100px;
  text-align: center;
}

.forgotPasswordBtn {
  background-color: #27A9E1;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font-family: Lato;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 110px 10px 110px;
}

.loginBtn {
  background-color: #27A9E1;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font-family: Lato;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 145px 10px 145px;
}

.loginPass {
  border-radius: 0px 0px 5px 5px;
  color: #CCC;
  background-color: #777;
  display: block;
  font-family: Lato;
  font-size: 16px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px 20px 10px;
}

.loginUser {
  border-radius: 5px 5px 0px 0px;
  color: #CCC;
  background-color: #777;
  display: block;
  font-family: Lato;
  font-size: 16px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px 10px 20px 10px;
}

.mainPannel {
  background: rgba(76,76,76,0.95);
  border-radius: 5px 5px 0px 0px;
  display: block;
  height: 400px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-top: 20px;
  width: 400px;
}

.secondaryPannel{
  background-color: rgba(46, 46, 46, 0.95);
  border-radius: 0px 0px 5px 5px;
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.signup {
  font-style: italic;
  padding: 20px 0px 10px 0px;
  text-align: center;
}

.signupBtn {
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font-family: Lato;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 90px 10px 90px;
}

.signupEntry {
  border-radius: 5px;
  color: #FFF;
  background-color: #777;
  display: block;
  font-family: Lato;
  font-size: 16px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px 20px 10px;
}

.signupPannel {
  background: rgba(76,76,76,0.95);
  border-radius: 5px;
  display: block;
  height: 535px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-top: 20px;
  width: 400px;
}

.logincite {
  text-align: right;
  padding: 15px 15px 15px 15px;
  width:100%;
  height:45px;
  position:absolute;
  bottom:0;
  left:0;
}

.logincite a {
  font-family: Lato;
  font-weight: 100;
  color: #FFF;

}

.signupRadio {
  font-size: 20px;
  font-weight: 300 !important;
  width: 120px;
  margin-left: 30px;
}

.signupRadioOther {
  font-size: 20px;
  font-weight: 300 !important;
  width: 85%;
  padding: 0px 15px 15px 15px;
  margin-left: 30px;
}

.signupTitle {
  font-family: Lato;
  font-size: 25px;
  letter-spacing: 2px;
  margin-bottom: -10px;
  margin-top: 5px;
  text-align: center;
}

.validateEntry input.ng-invalid.ng-touched {
  border: 3px solid red;
}
