/*

  MAIN STYLES

*/

.bg-mid {
  background-color: #777;
}

.bg-light {
  background-color: #999;
}

.bg-dark {
  background-color: #555;
}

.bg-semidark {
  background-color: #444;
}

.bg-darker {
  background-color: #333;
}

.bg-darkest {
  background-color: #222;
}

.bg-blue {
  background-color: #27A9E1;
}

/*

  COMMUNITY BARSTYLES

*/

#communityBar section {
  height: 7vh;
}

/*

  MOD VIEW STYLES

*/

#modView aside {
  /*min-height: 480px;
  max-height: 1800px;*/
  height: 86vh;
}

/*

  EEDU LINK STYLES

*/

#eeduLink section {
  height: 7vh;
  width: 100vh;
}

/*

  DEFINE ADDITIONAL PARTIAL/VIEW STYLES HERE

  ALWAYS SEPARATE BY IDS

*/
