
<div class="modal-header">
    <h3 class="modal-title">Sign up for your Forge</h3>
</div>
<div class="modal-body">
<form class="panel-body">
  <fieldset class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="luci@sharklasers.net">
  </fieldset>

  <fieldset class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password">
  </fieldset>
  <button type="submit" class="pull-left btn btn-danger" ui-sref="login">Cancel</button>
  <button type="submit" class="pull-right btn btn-primary" ng-click="signup()">Sign Up</button>
</form>
</div>
