<div class="my-forge-dashboard" ng-controller='UpProjectCtrl'>
	<div layout="row" layout-sm="column">
		<div flex-gt-sm="70" class="addProject-left">
			<div class="row my-forge-project">
				<div class="col-sm-4 project" ng-repeat="project in projects">
					<button class="btn btn-default" ng-show="showMe" ng-click="removeProject($index)">X</button>
					<a href="#" class="thumbnail">
						<img src="img/nav_apps_icon.png" style="width: auto">
						<h4 class="center-block">{{project.projectName}}</h4>
					</a>	
				</div>
			</div>
		</div>
		<div flex-gt-sm="30" class="my-forge-panel">
			<h3> My Forge </h3>
			<div ui-view>
				
				<div style="background: #21262a; width: 100%; padding: 10px 10px; margin-bottom: 10px">
					<div class="row">
						<div class="col-sm-6" style="font-weight: bold">Cloud</div>
						<div class="col-sm-6 text-right">8GB</div>
					</div>
					<div style="padding: 0 20px;">
						<h2 style="color: #27a9e1">3%&nbsp;<span style="font-size: 12px; color: #fff">Cloud Used</span></h2> 
					</div>
				</div>

				<div style="background: #21262a; width: 100%; padding: 10px 10px;">
					<div class="row">
						<div class="col-sm-6" style="font-weight: bold">Rank Status</div>
						<div class="col-sm-6 text-right">1,005pts</div>
					</div>
					<div style="padding: 0 20px;">
						<h2 style="color: #27a9e1; font-size: 150%">Level II Apprentice</h2>
						<span style="font-size: 12px; color: #fff">Next Rank: Dronesmith(1,500pts)</span> 
					</div>
				</div>

			</div>
		</div>
	</div>
</div>