<div class="container-fluid" ng-controller="FlightPlannerCtrl">
	<div class="row">
				<div class="col-sm-8" style="background: #333;">
          <div class="row">
            <h2>Pilot View</h2>
            <div class="panel panel-default" style="background: #444; border:none;">
							<div id="camera">
								<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6452.67042581813!2d-115.03309410000001!3d36.0365241!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1431726089646" width="100%" height="300" frameborder="0" style="border:0"></iframe>

							</div>
            </div>
          </div>
          <div class="row">
            <h2>Down Link</h2>
            <div class="row">
              <div class="col-xs-2" ng-repeat="(name, value) in planner.widgets[1].info">
              <h1 ng-style="{{value.style}}">
                {{value.value}}
              </h1>
              <p style="font-size: 10px;"><span>{{value.name}}</span><span ng-show="value.unit">{{" (" + value.unit + ")"}}</span></p>
            </div>
            </div>
          </div>
        </div>
				<div class="col-sm-4" style="background: #333;">
          <h2>Preflight</h2>
          <div class="row">
            <div class="panel panel-default" style="background: #444; border:none;">
              <form class="panel-body">
                <fieldset class="form-group">
                  <label>Device Configure</label>
                  <select class="form-control">
                    <option>Eedu</option>
                    <option>QuaRK</option>
                  </select>
                </fieldset>
                <fieldset class="form-group">
                  <label>Data Collection</label>
                </fieldset>
                <fieldset class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Flight "blackbox" Data
                  </label>
                  <label>
                    <input type="checkbox" value="">
                    Sync mission to Dronesmith.io
                  </label>
                  <label>
                    <input type="checkbox" value="">
                    Export mission as PDF report
                  </label>
                </fieldset>
                <fieldset class="form-group">
                  <label>Video</label>
                </fieldset>
                <fieldset class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    OSD Enabled
                  </label>
                  <label>
                    <input type="checkbox" value="">
                    Record Video
                  </label>
                  <label>
                    <input type="checkbox" value="">
                    Feature Detection
                  </label>
                </fieldset>
                <fieldset class="form-group">
                  <label>Low Battery Options</label>
                </fieldset>
                <fieldset class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Auto descend
                  </label>
                  <label>
                    <input type="checkbox" value="">
                    Return Home
                  </label>
                </fieldset>
                <fieldset class="form-group">
                  <label>Mission Scripts</label>
                </fieldset>
                <fieldset class="radio">
                  <label>
                    <input type="radio" name="scriptOptions" id="scriptOption1" value="option1" checked>
                    Single Script
                  </label>
                  <label>
                    <input type="radio" name="scriptOptions" id="scriptOption2" value="option2">
                    Playlist
                  </label>
                </fieldset>
                <fieldset class="form-group">
                  <select class="form-control">
                    <option>Swarm dance2</option>
                    <option>Follow the Ball</option>
                    <option>Drone Tennis</option>
                  </select>
                </fieldset>
                <fieldset class="form-group">
                  <div class="row">
                    <div class="col-xs-8">
                      <button class="btn btn-default">Load Preset</button>
                      <button class="btn btn-default">Save Preset</button>
                    </div>

                    <button class="btn btn-primary">Export Mission</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
            <div class="row">
              <div class="panel panel-default" style="background: #444; border:none;">
                <form>
                  <fieldset class="form-group">
                    <label>Controller Configure</label>
                      <select class="form-control">
                        <option>Mobile</option>
                        <option>Tablet</option>
                        <option>Keyboard+Mouse</option>
                        <option>Joystick</option>
                        <option>Spektrum</option>
                      </select>
                    </fieldset>
                </form>
              </div>
            </div>
				  </div>
	</div>

	<div>
		<div layout="row" layout-sm="column" layout-padding>
			<div flex-gt-sm="99" id="waypoint">
				<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6452.67042581813!2d-115.03309410000001!3d36.0365241!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1431726089646" width="100%" height="300" frameborder="0" style="border:0"></iframe>

				<div id='waypoint-tasks'>
					<div class="panel-heading">Waypoint Tasks</div>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Waypoint Name</th>
								<th>Action</th>
								<th>Task</th>
								<th>Time</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat='waypoint in waypoints'>
								<td>{{waypoint.name}}</td>
								<td>{{waypoint.action}}</td>
								<td>{{waypoint.task}}</td>
								<td>{{waypoint.time}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- <div flex-gt-sm="33" id="views">
				<h3>Views</h3>
				<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6452.67042581813!2d-115.03309410000001!3d36.0365241!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1431726089646" width="100%" height="300" frameborder="0" style="border:0"></iframe>
			</div> -->
		</div>
	</div>
</div>
