<section id="Hangar" ng-controller="HangarCtrl">
	<div class="row">
		<article class="col-sm-9">
			<hgroup>
			<h1>Device: {{selectedDevice.name}}</h1>
				<h4>
					<ul class="list-group list-inline">
						<li ><a href="" ng-click="sidePanelSelect='configure'">Configure</a></li>
						<li ng-show="selectedDevice.type == 'UAV'" ><a href="" ng-click="sidePanelSelect='connect'">Connect</a></li>
						<li ><a href="" ng-click="sidePanelSelect='newDev'">Add New Device</a></li>
						<li ><a href="" ng-click="sidePanelSelect='inventory'">View Inventory</a></li>
					</ul>
				</h4>
			</hgroup>
			<div id="devInfo" class="row">
				<div class="col-sm-8">
					<img class="img-responsive img-thumbnail" ng-src="{{selectedDevice.img || 'mods/Hangar/no_image.jpg'}}">
				</div>
				<div class="col-sm-4">
					<h4 class="text-center">Information</h4>
					<p ng-repeat="(key, prop) in selectedDevice.meta">{{key}}: {{prop}}</p>
				</div>
			</div>
		</article>
		<aside class="col-sm-3 bg-semidark">
			<div ng-switch="sidePanelSelect">
				<div ng-switch-when="inventory">
					<h1 class="text-center">Inventory</h1>
					<h4>Eedus</h4>
					<ng-form class="form-inline" name="eeduSelectForm" novalidate>
						<fieldset class="form-group">
							<select
								class="form-control"
								id="eeduName"
								name="eeduName"
								ng-options="eedu.name as eedu.name for eedu in eeduSelect track by $index"
								ng-model="selectedEedu">
								</select>
						</fieldset>
						<button type="submit" class="btn btn-default" ng-click="changeDev(selectedEedu)">Select</button>
					</ng-form>
					<h4>Controllers</h4>
					<ng-form class="form-inline" name="controllerSelectForm" novalidate>
						<fieldset class="form-group">
							<select
								class="form-control"
								id="controllerName"
								name="controllerName"
								ng-options="ctrl as ctrl.name for ctrl in controllerSelect"
								ng-model="selectedController">
								</select>
						</fieldset>
						<button type="submit" class="btn btn-default" ng-click="changeDev(selectedController)">Select</button>
					</ng-form>
					<h4>Sensors</h4>
					<ng-form class="form-inline" name="sensorSelectForm" novalidate>
						<fieldset class="form-group">
							<select
								class="form-control"
								id="sensorName"
								name="sensorName"
								ng-options="sensor as sensor.name for sensor in sensorSelect track by $index"
								ng-model="SelectedSensor">
								</select>
						</fieldset>
						<button type="submit" class="btn btn-default" ng-click="changeDev(selectedSensor)">Select</button>
					</ng-form>
				</div>
				<div ng-switch-when="newDev">
					<h2>Add New Device</h2>
					<h3>Eedus</h3>
					<p class="text-info"><em>No unpaired Eedus detected</em></p>
					<h3>Controllers</h3>
					<p class="text-info"><em>No unpaired Controllers detected</em></p>
				</div>
				<div ng-switch-when="configure">
					<h2>Configure<br><em>{{selectedDevice.name}}</em></h2>
					<div id="configPanel" ng-switch="selectedDevice.type">
						<div ng-switch-when="UAV">
							<p class="lead">Status: {{selectedDevice.config.status}}</p>
							<p>Flight Control:
								<span ng-show="selectedDevice.config.calibration.imu">Configured</span>
								<span ng-hide="selectedDevice.config.calibration.imu">Not Configured</span><br>
								<em><a href="" class="btn btn-default" ng-click="">Configure</a></em>
							</p>
							<p>Motors:
								<span ng-show="selectedDevice.config.calibration.esc">Configured</span>
								<span ng-hide="selectedDevice.config.calibration.esc">Not Configured</span><br>
								<em><a href="" class="btn btn-default" ng-click="">Configure</a></em>
							</p>
							<ng-form class="" name="eeduCalibForm" novalidate>
								<fieldset class="form-group">
									<label for="proportion">P Value</label>
									<input
										type="number"
										class="form-control"
										id="proportion"
										name="proportion"
										ng-model="selectedDevice.config.calibration.pid.P">
										</select>
								</fieldset>
								<fieldset class="form-group">
									<label for="integral">I Value</label>
									<input
										type="number"
										class="form-control"
										id="integral"
										name="integral"
										ng-model="selectedDevice.config.calibration.pid.I">
										</select>
								</fieldset>
								<fieldset class="form-group">
									<label for="derivative">D Value</label>
									<input
										type="number"
										class="form-control"
										id="derivative"
										name="derivative"
										ng-model="selectedDevice.config.calibration.pid.D">
										</select>
								</fieldset>
								<button type="submit" class="btn btn-default" ng-click="">Update</button>
							</ng-form>
						</div>
						<div ng-switch-when="Controller">
							<h3>Controller Bindings</h3>
							<p ng-repeat="keys in selectedDevice.config.keymap">{{keys}}:
								<select class="form-control" ng-model="selectedDevice.config.keymap" ng-options="key as key.name in CONTROLLER_VALS"></select>
							</p>
						</div>
						<div ng-switch-when="Sensor">
							<p class="text-info">Sensor has no configurable metadata.</p>
						</div>
					</div>
				</div>
				<div ng-switch-when="connect">
					<h2>Connect<br><em>{{selectedDevice.name}}</em></h2>
					<div id="connectPanel" ng-switch="selectedDevice.type">
						<div ng-switch-when="UAV">
							<h4>Select Controller</h4>
							<ng-form name="controllerSelectForm" novalidate>
								<fieldset class="form-group">
									<select
										class="form-control"
										id="controllerName"
										name="controllerName"
										ng-options="ctrl as ctrl.name for ctrl in controllerSelect"
										ng-model="selectedController">
										</select>
								</fieldset>
							</ng-form>
							<h4>Onboard Sensors</h4>
							<p class="text-info">No onboard sensors detected</p>
							<button type="submit" class="btn btn-block btn-primary" ng-click="">Connect to Eedu</button>
						</div>
					</div>
				</div>
			</div>
		</aside>
	</div>
</section>
