<section id="communityBar" class="bg-darkest">
  <div class="navbar-header">
    <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="">
      <img alt="Brand" src="img/forgeicon.png" class="img-responsive">
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav pull-right">
      <li><a href="#">{{userInfo.username}}</a></li>
      <li><a href="" ng-click="logout()">Log Out</a></li>
    </ul>
  </div>
</section>
