
<section id="communityBar" class="bg-dark">
  <div class="navbar-header">
    <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="">SkyworksAS Forge</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#css">Primaries</a></li>
      <li><a href="#components">Secondaries</a></li>
      <li><a href="#javascript">Behavior</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Dropdown <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="http://anvoz.github.io/bootstrap-tldr/old/v3.1.1/">:D</a></li>
          <li><a href="http://anvoz.github.io/bootstrap-tldr/old/v3.2.0/">:)</a></li>
        </ul>
      </li>
    </ul>
  </div><!--/.nav-collapse -->
</section>
