
<section id="modView">
	<side-menu class=""></side-menu>
	<div id='view' class="view-width">
		<div ui-view>
			<article class="col-xs-10 col-sm-11">
			  <h1>I'm the view for a Forge App.</h1>
			  <p>If you're reading this, it means ModView isn't syncing with the DB.<br> That means either 1, there's a bad, bad bug, or 2, it's not implemented yet.<br><em>(Hint: it's 2)</em></p>
			</article>
		</div>
	</div>

  <!-- Geoff orginal stuff, he might need mod in mods part

  <div class="row">
    <aside class="col-xs-2 col-sm-1 bg-darkest">
      <ul ng-show="mods.length > 0" ng-repeat="mod in mods">
        <li><a href="">{{mod.name}}</a></li>
      </ul>
      <p class="lead" ng-hide="mods.length > 0">Your account has no mods. <a href="">Add some?</a></p>
    </aside>
    <article class="col-xs-10 col-sm-11">
      <h1>I'm the view for a Forge App.</h1>
      <p>If you're reading this, it means ModView isn't syncing with the DB.<br> That means either 1, there's a bad, bad bug, or 2, it's not implemented yet.<br><em>(Hint: it's 2)</em></p>
    </article>
  </div> -->

</section>
