
<section id="modView">
  <div class="row">
    <article>
      <div id="activeModScript"></div>
      <div id="activeMod"></div>
      <hgroup class="text-center" ng-hide="mods.length > 0">
        <h1>Welcome to Forge Cloud.</h1>

        <form>
          <fieldset class="form-group">
            <label>Format</label>
            <select
              class="form-control center-block"
              style="width: 200px;"
              ng-init="uploadKind='mavlink'"
              ng-model="uploadKind"
              ng-change="changeUploader(uploadKind)"
            >
              <option value="mavlink">MAVLink Log</option>
              <option value="sdlog">Binary Log</option>
            </select>
          </fieldset>

          <fieldset class="form-group">
            <label for="mavlogField">
              Upload a flight log file.
            </label>
            <input
              id="mavlogField"
              type="file"
              nv-file-select="px4log"
              uploader="uploader"
              ng-model="file"
              ng-change="resetUploader()"
              class="file-upload-input center-block">
          </fieldset>



          <fieldset class="form-group">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              ng-click="uploader.uploadAll()"
              ng-disabled="!uploader.getNotUploadedItems().length"
              >
                Upload
              </button>
          </fieldset>
        </form>
        <div class="progress" ng-hide="!uploader.progress || uploaded" style="">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>
        <p ng-show="uploaded">
          <span ng-show="uploadStatus.error">Error: {{uploadStatus.error}}</span>
          <span ng-show="uploadStatus.status">Sucessfully uploaded!</span>
          <span ng-show="uploadStatus=='Unknown'">Working...</span>
        </p>
      </hgroup>
    </article>
  </div>
</section>
